.App {
  text-align: center;
}

/*******************************************************/

.header-basic {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 12px 30px;
	height: 45px;
	box-sizing: border-box;
}

.header-basic h1 {
	float: left;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 0;
  font-size: 20px;
} 

/*******************************************************/

.body {
  position: absolute;
  left: 0;
  right: 0;
}

.form-content{
  display: flex;
  flex-Direction: row;
  justify-Content: center;
}

.gen-form {
  margin: auto;
  margin-top: 60px;
  padding: 40px;
  width: 500px;
  height: 352px;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 3px;
}

.gen-form h1 {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
} 

.wifi-input-container {
  display: flex;
}

.wifi-input-container input{
  margin: 10px;
  margin-top: 0;
  width: 160px;
}

.wifi-input-container select {
  width: 160px;
}

.input-container label {
  color: white;
  margin: 10px;
  float: left;
}

.wifi-input-container form {
  z-index: 2;
}

.qr-canvas {
  margin: 15px;
  display: flex;
  padding: 0; 
}

.btn {
  width: 160px;
  height: 30px;
  display: inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  border-radius:0.22em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight: 300;
  color:#FFFFFF;
  text-align: center;
  transition: all 0.2s;
  background-color: rgb(0, 0, 0, 0.1);
  margin: 15px;
  margin-bottom: 0;
}

.btn a {
  color: #FFFFFF;
  text-decoration: none;
}

.btn a:hover{
  color: #000000;
}

.btn:hover{
  color: #000000;
  background-color: #FFFFFF;
  }

  
/*******************************************************/

.footer {
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
  padding: 12px 30px;
  height: 45px;
}

.footer .footer-left p {
  font-family: 'Montserrat', sans-serif;
	color:  #8f9296;
	font-size: 17px;
  margin: 0;
  float: left;
}

.footer .footer-right{
	float: right;
	max-width: 180px;
}

.footer .footer-right a{
	display: inline-block;
	line-height: 25px;
	margin-left: 10px;
}

.footer .footer-right img{
	width: 25px;
	height: 25px;
}
