.App {
  text-align: center;
}

/*******************************************************/

.header-basic {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px;
	height: 80px;
	box-sizing: border-box;
}

.header-basic .header-limiter {
	max-width: 1800px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
	float: left;
  font-family: 'Montserrat', sans-serif;
	line-height: 40px;
	margin: 0;
}

/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-basic .header-limiter nav{
  font-family: 'Montserrat', sans-serif;
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter nav a{
	display: inline-block; 
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 20px;
	opacity: 0.9;
}

.header-basic .header-limiter nav a:hover{
	opacity: 1;
}

/*******************************************************/

.footer {
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 35px;
}

.footer .footer-left p {
  font-family: 'Montserrat', sans-serif;
	color:  #8f9296;
	font-size: 17px;
	margin: 0;
}

.footer .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	text-align: center;
	line-height: 35px;
	margin-left: 10px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  column-width: 50%;
}